{% extends "base.html" %}
{% block content %}

<h2>Detection Rules</h2>

<table border="1">
    <tr>
        <th>Rule ID</th>
        <th>Title</th>
        <th>Technique</th>
        <th>Tactic</th>
        <th>Severity</th>
        <th>Description</th>
    </tr>
    {% for rule in rules %}
    <tr>
        <td>{{ rule["rule_id"] }}</td>
        <td>{{ rule["title"] }}</td>
        <td>{{ rule["technique"] }}</td>
        <td>{{ rule["tactic"] }}</td>
        <td><span class="badge {{ rule['severity'] }}">{{ rule["severity"] }}</span></td>
        <td>{{ rule["description"] }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}